/* Main Styles */

.wiki-header {
    margin: 45px 0 0 25px;
    background-color: #ffe066;
    color: #2b3e50;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    padding-top: 65px;
}

.mag-glass {
    width: 65px;
    height: 65px;
    fill: #2b3e50;
}

.search-container {
    padding-top: 65px;
}

input {
    background-color: #2b3e50;
    border: none;
    transition: background-color 1s ease-in;
}

.reveal {
    background-color: #ffe066;
    border: none;
    transition: background-color 1s ease-out;
}
