/* Main Styles */

h2 {
    font-size: 35px;
}

.wiki-header {
    font-family: 'Bangers', cursive;
    padding: 65px 20px;
    margin: 45px 0 0 25px;
    background-color: #ffe066;
    color: #2b3e50;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

.wiki-entry {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    padding: 58px;
    margin: 45px 0 0 25px;
    background-color: #ffe066;
    color: #2b3e50;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.wiki-entry h3 {
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.wiki-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.mag-glass {
    width: 65px;
    height: 65px;
    fill: #2b3e50;
}

.search-container {
    padding-top: 65px;
}

input {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    padding-left: 25px;
    width: 335px;
    height: 50px;
    border-radius: 25px;
    background-color: #2b3e50;
    border: none;
    transition: background-color .5s ease-in;
}

.reveal {
    background-color: #ffe066;
    border: none;
    transition: background-color .5s ease-out;
}

::-webkit-input-placeholder {
    color: #2b3e50;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #2b3e50;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #2b3e50;
}

:-ms-input-placeholder {
    color: #2b3e50;
}


/* Chrome blue border fix */

button:active,
input:focus {
    border: none;
    outline: none;
}
